<div>
    <canvas #planetCanvas id="planet-canvas" width="1024px" height="768px"></canvas>
    <!-- <img src='assets/images/RestaurantA.gif' /> -->
</div>
<div>
    <input type="button" (click)="drawMap()" value="Draw Map"  *ngIf="false"/>
    <input type="button" (click)="map.rotateLeft()" value="Left" />
    <input type="button" (click)="map.rotateRight()" value="Right" />
    <input type="button" (click)="map.zoom(true)" value="Zoom In" />
    <input type="button" (click)="map.zoom(false)" value="Zoom Out" />

    <input type="button" (click)="pause=!pause" value="{{pause ? 'Unpause': 'Pause'}}" style="margin-left: 200px;" />
    <input type="button" (click)="slowTile=!slowTile" value="{{!slowTile ? 'Slow Tiles': 'Fast Tiles'}}" />
</div>
<div *ngIf="tick">
    tick: {{tick}}
</div>
<div *ngIf="mouse && mouse.position">
    {{mouse_mx}}x{{mouse_my}} <span *ngIf="mouse.dragDelta">(click:{{mouse.dragDelta.mx}}x{{mouse.dragDelta.my}})</span>
</div>
<div>
    {{map.location.toString()}} zoom: {{map.scale}}
</div>
<div *ngIf="diffx!==undefined">
    ({{diffx}},{{diffy}})
</div>
<div *ngIf="map.location && map.location.exitDirection !== undefined">
    Tried to escape {{Direction[location.exitDirection]}}!
</div>
<div *ngIf="items">
    {{items}}
</div>